src/main/webapp/schemas/GuestDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>  
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://webservices.guestservice.com" targetNamespace="http://webservices.guestservice.com" elementFormDefault="qualified" attributeFormDefault="unqualified">  
      <xs:element name="Guest" type="Guest"/>  
      <xs:complexType name="Guest">  
           <xs:sequence>  
                <xs:element name="GuestId" type="xs:string"/>  
                <xs:element name="FirstName" type="xs:string"/>  
                <xs:element name="LastName" type="xs:string"/>  
          </xs:sequence>  
      </xs:complexType>  
  </xs:schema>  